<link rel="stylesheet" href="{f:uri.resource(path:'Styles/ezb.css')}" />
<div id="extSearchForm-wrapper" class="clearfix">

<form id="e-search" name="extSearchForm" action="{listUrl}" method="GET" class="e-search">

<input type="hidden" name="id" value="{listPid}" />
  <fieldset>
    <legend>Erweiterte Suche nach Zeitschriften</legend> 
	
	<f:for each="{1:1, 2:2, 3:3, 4:4}" as="jq_type">
		<label for="jq_type{jq_type}" class="hiddenezb">Feldangabe</label>
    	<select name="libconnect[search][jq_type{jq_type}]" id="jq_type{jq_type}">
    	
			<f:for each="{form.jq_type}" as="value" key="key" iteration="foriteration">
				<option value="{key}" <f:if condition="{jq_type} == {foriteration.cycle}">selected="selected"</f:if>><f:format.htmlentitiesDecode>{value}</f:format.htmlentitiesDecode></option>
    		</f:for>
    	
		</select>
		
		<label for="jq_term{jq_type}" class="hiddenezb">Suchbegriff</label> 
		<input type="text" size="30" class="dbis-input" name="libconnect[search][jq_term{jq_type}]" id="jq_term{jq_type}" value="" />
		
		<label for="jq_bool{jq_type}" class="hiddenezb">Verkn&uuml;pfung</label> 
	    <select name="libconnect[search][jq_bool{jq_type}]" id="jq_bool{jq_type}">
			<f:for each="{form.jq_bool}" as="value" key="key">
	      		<option value="{key}">{value}</option>
			</f:for>
	    </select>
	
		<label for="jq_not{jq_type}" class="hiddenezb">Negator</label> 
	    <select name="libconnect[search][jq_not{jq_type}]" id="jq_not{jq_type}">
	      	<f:for each="{form.jq_not}" as="value" key="key">
	      		<option value="{key}">{value}</option>
			</f:for>
	    </select>
	
	    <br />		 
	</f:for>

	<br/>
	
    <label for="hits_per_page">Treffer pro Seite:</label>
    <select size="1" name="libconnect[search][hits_per_page]" id="hits_per_page">
		<option value="10">10</option>
		<option value="25">25</option>
		<option selected="" value="50">50</option>
		<option value="100">100</option>
		<option value="250">250</option>
		<option value="500">500</option>
		<option value="100000">alle</option>
    </select>

	<br/><br/>
	
    <label for="fachgebiete">Fachgebiete:</label> 
    <select multiple="multiple" size="5" name="libconnect[search][Notations][]" id="fachgebiete" style="width:34em;margin-left:6.5em;">
		<f:for each="{form.Notations}" as="value" key="key">
   			<option value="{key}">{value}</option>
   		</f:for>
    </select>

    <br/><br/>

    <label for="zugaenge">Volltextartikel sind:</label> 
   	<p>
	<f:for each="{form.selected_colors}" as="value" key="key">
  		<input type="checkbox" name="libconnect[search][selected_colors][]" id="zugaenge" value="{key}" checked="checked" /> {value} <br/>
  	</f:for>
	</p>

    <br />
    <input type="submit" class="button submit" value="Suchen" />
  </fieldset>

</form>
</div>