<link rel="stylesheet" href="{f:uri.resource(path:'Styles/ezb.css')}" />
<h3>EZB <f:if condition="{journals.subject}">Fachgebiet</f:if></h3>

<h1><f:if condition="{journals.subject}"><f:then><f:format.htmlentitiesDecode>{journals.subject}</f:format.htmlentitiesDecode></f:then><f:else>Alphabetische Auflistung</f:else></f:if></h1>

<div class="ezb-list-legend">
	<ul>
		<li class="ezb-list-legend-one">Frei zug&auml;nglich</li>
		<li class="ezb-list-legend-two">Im Campus-Netz sowie für Angehörige der Universität auch extern zugänglich</li>
		<li class="ezb-list-legend-six">Nur für einen Teil der erschienenen Jahrgänge zugänglich</li>
		<li class="ezb-list-legend-four">Für Ihren Standort nicht freigeschaltet. Zum Teil bekommen Sie Zugriff auf Abstracts oder Inhaltsverzeichnisse</li>
	</ul>
</div>

<br/><br/>

<div class="ezb-navigation">
{namespace libconnect=Tx_Libconnect_ViewHelpers}
<f:for each="{journals.navlist.pages}" as="item">
	<f:if condition="{libconnect:IsArray(value: item)}">
		<f:then>
			<a href="<f:format.htmlentitiesDecode>{item.link}</f:format.htmlentitiesDecode>"><f:format.htmlentitiesDecode>{item.title}</f:format.htmlentitiesDecode></a>
		</f:then>
		<f:else>
			<em><f:format.htmlentitiesDecode>{item}</f:format.htmlentitiesDecode></em>
		</f:else>
	</f:if>
</f:for>
</div>

<br/><br/>

<div class="ezb-list-output">
<f:for each="{journals.alphabetical_order.first_fifty}" as="section">
	<h3><a href="{section.link}"><f:format.htmlentitiesDecode>{section.first_fifty_titles}</f:format.htmlentitiesDecode>...</a></h3>
</f:for>

<h2><f:format.htmlentitiesDecode>{journals.navlist.current_title}</f:format.htmlentitiesDecode>...</h2>

<ul class="ezb-list">
<f:for each="{journals.alphabetical_order.journals}" as="journal">
	<li class="ezb-list-accessinfo-access_{journal.color_code}"><a href="<f:format.htmlentitiesDecode>{journal.detail_link}</f:format.htmlentitiesDecode>"><f:format.htmlentitiesDecode>{journal.title}</f:format.htmlentitiesDecode></a></li>
</f:for>
</ul>

<f:for each="{journals.alphabetical_order.next_fifty}" as="section">
	<h3><a href="<f:format.htmlentitiesDecode>{section.link}</f:format.htmlentitiesDecode>"><f:format.htmlentitiesDecode>{section.next_fifty_titles}</f:format.htmlentitiesDecode>...</a></h3>
</f:for>
</div>