<link rel="stylesheet" href="{f:uri.resource(path:'Styles/ezb.css')}" />
<div class="datenbank-suche-wrapper">

<h1>Suche nach Zeitschriften</h1>

<form action="{siteUrl}" method="GET">
	<input type="hidden" name="id" value="{listPid}" />
	<label for="libconnect_ezb_minisuche" class="hiddenezb">Name der Zeitschrift</label>
	<input id="libconnect_ezb_minisuche" type="text" name="libconnect[search][sword]" size="20" value="{vars.sword}" />
	<input type="submit" value="Suchen" /> <br/>
	
	<p><a href="{searchUrl}">Erweiterte Suche</a></p>
	
</form>
</div>