<div id="ezb-detail">
<f:if condition="{error}">
	<f:then>
		<h1>Fehler</h1>
		<p>
			Es ist ein Fehler bei der Anfrage der elektronische Zeitschrift aufgetreten.
		</p>
		<p>
			M&ouml;glicherweise ist die angefragte Zeitschrift nicht vorhanden. Bitte versuchen Sie es erneut
			oder wenden Sie sich an das Web-Team der Bibliothek, das Ihnen beim Auffinden des Datensatzes
			gerne behilflich ist.
		</p>
	</f:then>
	<f:else>
		{namespace libconnect=Tx_Libconnect_ViewHelpers}
		<h1><f:format.htmlentitiesDecode>{journal.title}</f:format.htmlentitiesDecode></h1>

        <table id="ezb-result-details">
		<tbody>
		<tr>
            <th>
				<strong>Verf&uuml;gbarkeit:</strong>
            </th>

			<td>
				<span class="ezb-list-accessinfo-access_{journal.color_code}">
				<f:if condition="{journal.color_code} == 1">
				<f:then>
					Frei zug&auml;nglich
				</f:then>
				<f:else>
					<f:if condition="{journal.color_code} == 2">
					<f:then>
						Im Campus-Netz sowie f&uuml;r Angeh&ouml;rige der Universit&auml;t auch extern zug&auml;nglich
					</f:then>
					<f:else>
						<f:if condition="{journal.color_code} == 6">
						<f:then>
							Nur f&uuml;r einen Teil der erschienenen Jahrg&auml;nge zug&auml;nglich
						</f:then>
						<f:else>
							F&uuml;r Ihren Standort nicht freigeschaltet. Zum Teil bekommen Sie Zugriff auf Abstracts oder Inhaltsverzeichnisse
						</f:else>
						</f:if>
					</f:else>
					</f:if>
				</f:else>
				</f:if>
				</span>
			</td>
		</tr>

		<f:if condition="<f:count subject='{journal.periods}' /> > 0">
			<f:for each="{journal.periods}" as="period">
			<tr>
			    <f:if condition="{libconnect:strlen(string: period.label)} > 0">
				<f:then>
                    <th>
						<strong>Lizenzierter Zeitraum:</strong>
                    </th>
						<td>
						<f:if condition="{libconnect:trimedstrlen(string: period.label)} > 0">
						<f:then>
							<a class="ezb-license" href="{libconnect:urldecode(url: period.link)}" target="_blank">{period.label}</a>&nbsp;
						</f:then>
						<f:else>
						    <a class="ezb-license" href="{libconnect:urldecode(url: period.link)}" target="_blank">gesamter Zeitraum</a>
						</f:else>
						</f:if>    
                        <f:if condition="{period.readme}">
                            <f:then>
                                <a class="ezb-readme" href="<f:format.htmlentitiesDecode>{period.readme}</f:format.htmlentitiesDecode>"><span class="ezb-list-accessinfo-access_{period.color_code}">ReadMe</span></a>
                            </f:then>
                            
                            <f:else>
                                <span class="ezb-list-accessinfo-access_{period.color_code}">&nbsp;</span></a>
                            </f:else>
                        </f:if>							
						</td>
				</f:then>
				<f:else>
                <th>
					<strong>Restliche Zeitr&auml;ume:</strong>
                </th>
				<td>
					<span class="ezb-list-accessinfo-access_{period.color_code}"><a class="ezb-license" href="{libconnect:urldecode(url: period.link)}" target="_blank">Homepage der Zeitschrift</a></span>
				</td>
				</f:else>
				</f:if>
			</tr>
			</f:for>
		</f:if>

		
		<f:if condition="{libconnect:strlen(string: journal.fulltext)} > 0">
		<tr>
            <th>
			<strong>Volltext:</strong>
            </th>

			<td>
				<a class="dbis-research" href="{libconnect:urldecode(url: journal.fulltext_link)}" target="_blank">{libconnect:truncate(string: journal.fulltext, length: 70)}</a>
			</td>
		</tr>
		</f:if>

		<f:if condition="<f:count subject='{journal.homepages}' /> > 0">
		<tr>
            <th>
			<strong>Homepage(s):</strong>
            </th>

			<td>
				<ul>
				<f:for each="{journal.homepages}" as="homepage">
					<li>
						<a class="dbis-research" href="http://ezb.uni-regensburg.de/warpto.phtml?bibid={bibid}&colors=7&lang=de&jour_id={journal.id}&url={libconnect:urldecode(url: homepage)}" target="_blank">{libconnect:truncate(string: homepage, length: 70)}</a>
					</li>
				</f:for>
				</ul>
			</td>
		</tr>
		</f:if>

		<f:if condition="{journal.first_fulltext.date} > 0">
		<tr>
            <th>
			<strong>Volltext online seit:</strong>
            </th>

			<td>
			<f:if condition="{journal.first_fulltext.volume}">Jg. <f:format.htmlentitiesDecode>{journal.first_fulltext.volume}</f:format.htmlentitiesDecode></f:if><f:if condition="{journal.first_fulltext.issue}">, H. <f:format.htmlentitiesDecode>{journal.first_fulltext.issue}</f:format.htmlentitiesDecode></f:if>
			({journal.first_fulltext.date})
			</td>
		</tr>
		</f:if>

		<f:if condition="{journal.last_fulltext}">
		<tr>
            <th>
			<strong>Volltext online bis:</strong>
            </th>

			<td>
			<f:if condition="{journal.last_fulltext.volume}">Jg. {journal.last_fulltext.volume}</f:if><f:if condition="{journal.last_fulltext.issue}">, H. {journal.last_fulltext.issue}</f:if>
			({journal.last_fulltext.date})
			</td>
		</tr>
		</f:if>

		<f:if condition="{journal.publisher}">
		<tr>
            <th>
			<strong>Verlag:</strong>
            </th>

			<td>
			<f:format.htmlentitiesDecode>{journal.publisher}</f:format.htmlentitiesDecode>
			</td>
		</tr>
		</f:if>

		<f:if condition="{journal.ZDB_number}">
		<tr>
            <th>
			<strong>ZDB Nummer:</strong>
            </th>

			<td>
			<f:if condition="{journal.ZDB_number_link}"><a href="{journal.ZDB_number_link}" target="_blank"></f:if>
			{journal.ZDB_number}
			<f:if condition="{journal.ZDB_number_link}"></a></f:if>
			</td>
		</tr>
		</f:if>
		
		<f:if condition="{libconnect:strlen(string: journal.subjects_join)} > 0">
		<tr>
            <th>
			<strong>Fachgruppe(n):</strong>
            </th>

			<td>
			<f:format.htmlentitiesDecode>{journal.subjects_join}</f:format.htmlentitiesDecode>
			</td>
		</tr>
		</f:if>

		<f:if condition="{journal.keywords_join}">
		<tr>
            <th>
			<strong>Schlagwort(e):</strong>
            </th>

			<td>
			<f:format.htmlentitiesDecode>{journal.keywords_join}</f:format.htmlentitiesDecode>
			</td>
		<tr>
		</f:if>
	
		<f:if condition="{libconnect:strlen(string: journal.eissns_join)} > 0">
		<tr>
            <th>
			<strong>E-ISSN(s):</strong>
            </th>

			<td>
			<f:format.htmlentitiesDecode>{journal.eissns_join}</f:format.htmlentitiesDecode>
			</td>
		</tr>
		</f:if>
		
		<f:if condition="{libconnect:strlen(string: journal.pissns_join)} > 0">
		<tr>
            <th>
			<strong>P-ISSN(s):</strong>
            </th>

			<td>
			<f:format.htmlentitiesDecode>{journal.pissns_join}</f:format.htmlentitiesDecode>
			</td>
		</tr>
		</f:if>
		
		<f:if condition="{libconnect:strlen(string: journal.appearence)} > 0">
		<tr>
            <th>
			<strong>Form:</strong>
            </th>

			<td>
			<f:format.htmlentitiesDecode>{journal.appearence}</f:format.htmlentitiesDecode>
			</td>
		</tr>
		</f:if>

		<f:if condition="{libconnect:strlen(string: journal.costs)} > 0">
		<tr>
            <th>
			<strong>Kosten:</strong>
            </th>

			<td>
			<f:format.htmlentitiesDecode>{journal.costs}</f:format.htmlentitiesDecode>
			</td>
		</tr>
		</f:if>

		<f:if condition="{libconnect:strlen(string: journal.remarks)} > 0">
		<tr>
            <th>
			<strong>Bemerkung:</strong>
            </th>

			<td>
			<f:format.htmlentitiesDecode>{journal.remarks}</f:format.htmlentitiesDecode>
			</td>
		</tr>
		</f:if>

<!-- code for location data -->
       <f:if condition="{settings.enableLocationData}">
        <f:if condition="<f:count subject='{journal.locationData}' /> > 0">
        <tr>
            <th>
                <strong>im Druck vorhanden:</strong><br />
                (Quelle: <a href="http://www.zdb-opac.de" target="zdbfenster">ZDB</a>)
            </th>
            
            <td>
                <table width="100%" class="zdb-location-info">
                    <tbody>
                    <f:for each="{journal.locationData.resultList}" as="result">                   
                        <tr>
                            <td class="zdb-location-info-result">
                                <table class="zdb-location-detail">
                                    <tbody>
                                        <!--<f:if condition="{libconnect:strlen(string: result.Title)} > 0">
                                        <tr>
                                            <th>Titel:</th>
                                            <td><f:format.htmlentitiesDecode>{result.Title}</f:format.htmlentitiesDecode></td>
                                        </tr>
                                        </f:if>-->
                                        <f:if condition="{libconnect:strlen(string: result.Period)} > 0">
                                        <tr>
                                            <th>Bestand:</th>
                                            <td><f:format.htmlentitiesDecode>{result.Period}</f:format.htmlentitiesDecode></td>
                                        </tr>
                                        </f:if>
                                        <f:if condition="{libconnect:strlen(string: result.Signature)} > 0">
                                        <tr>
                                            <th>Grundsignatur:</th>
                                            <td><f:format.htmlentitiesDecode>{result.Signature}</f:format.htmlentitiesDecode></td>
                                        </tr>
                                        </f:if>
                                        <f:if condition="{libconnect:strlen(string: result.Location)} > 0">
                                        <tr>
                                            <th>Standort:</th>
                                            <td><f:format.htmlentitiesDecode>{result.Location}</f:format.htmlentitiesDecode></td>
                                        </tr>
                                        </f:if>
                                    </tbody>
                                </table>                            
                            </td>
                            <td class="zdb-location-info-reference">
                            <f:for each="{journal.locationData.references}" as="reference">
                                <p>
                                    <f:if condition="{settings.useIconService}">
                                        <f:then>
                                            <a href="<f:format.htmlentitiesDecode>{journal.locationData.iconInfoUrl}</f:format.htmlentitiesDecode>" target="jopinfo">
                                            <img src="<f:format.htmlentitiesDecode>{journal.locationData.iconRequest}</f:format.htmlentitiesDecode>" alt="Informationen zur Verfügbarkeit" title="Informationen zur Verfügbarkeit"/>
                                            </a>
                                        </f:then>
                                        <f:else>
                                            <a href="<f:format.htmlentitiesDecode>{reference.URL}</f:format.htmlentitiesDecode>" target="zdbopac">                                    
                                            <img src="{f:uri.resource(path:'Img/zdb-state_{result.state}.gif')}" class="zdb-state-{result.state}-icon" alt="<f:format.htmlentitiesDecode>{reference.Label}</f:format.htmlentitiesDecode>" title="<f:format.htmlentitiesDecode>{reference.Label}</f:format.htmlentitiesDecode>"/>
                                            </a>
                                        </f:else>
                                    </f:if>
                                </p>
                            </f:for>
                            </td>
                        </tr>
                        </f:for>
                    </tbody>
                </table>
            </td>
        </tr>
        </f:if>
       </f:if>
<!-- ende code for location data -->          
		</tbody>
		</table>
	</f:else>
</f:if>
</div>