<!--<div class="ezb-listings-wrapper">
    <p>
        <f:link.page pageUid="{listPid}">
            <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.miniform.link.subject" />
        </f:link.page>
    </p>
</div>-->

<div class="datenbank-suche-wrapper">
	<h1>
		<f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.miniform.searchform.headline" />
	</h1>
	<form action="{listUrl}" method="get">
		<input type="hidden" name="id" value="{listPid}" />
		<label for="libconnect_ezb_minisuche" class="hiddenezb">
			<f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.miniform.searchform.label" />
		</label>
		<input id="libconnect_ezb_minisuche" type="text" name="libconnect[search][sword]" size="20" value="{vars.sword}" />
		<input type="submit" value="Suchen" />
		<p>
			<a href="{searchUrl}">
            <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.miniform.link.extended_search" />
			</a>
		</p>
	</form>
</div>