<link rel="stylesheet" href="{f:uri.resource(path:'Styles/dbis.css')}" />

<h1 class="libconnect-h1">DBIS Fachgebiet</h1>

<h2 class="libconnect-h2">{subject}</h2>

<h3 class="libconnect-h3">Zugriffe:</h3>

<div class="dbis-list-legend">
<ul>
	<f:for each="{list.access_infos}" as="info">
		<li class="dbis-list-accessinfo-{info.id}"><f:escape value="{info.title}" type="raw" /> (<f:escape value="{info.description}" type="raw" />)</li>
	</f:for>
</ul>
</div>


<f:if condition="{list.top}">
<div class="top-database-wrapper">
	<h3 class="libconnect-h1">Top Datenbanken</h3>
	<ul class="dbis-top-list">
	<f:for each="{list.top}" as="db">
		<li><a href="{db.detail_link}"><f:escape value="{db.title}" type="raw" /></a> ({db.access})</li>
	</f:for>
	</ul>
</div>
</f:if>



<div style="margin-top: 3em;">
<f:if condition="<f:count subject='{list.groups}' /> > 0">
	<f:for each="{list.groups}" as="group">

		
		<f:if condition="<f:count subject='{group.dbs}' /> > 0">
			<div class="accordion-fce-wrapper">
				<div class="accordion-fce">
					<h2 class="libconnect-h1">
					<f:if condition="{group.title}">
						<f:then>
							<f:escape value="{group.title}" type="raw" />
						</f:then>
						<f:else>
							Gesamtangebot
						</f:else>
					</f:if>
					  (<f:count subject="{list.groups}" />)</h2>

					<div class="accordion-content clearfix">
						<ul class="dbis-dblist">
							<f:for each="{group.dbs}" as="db">
								<li class="dbis-list-accessref-{db.access_ref}"><a href="{db.detail_link}"><f:escape value="{db.title}" type="raw" /></a></li>							
							</f:for>
						</ul>
					</div>
				</div>
			</div>
		</f:if>
	</f:for>
</f:if>
 <f:link.page pageUid="1024" >Contact</f:link.page>
 <f:link.action action="displayDetailAction" controller="Dbis" arguments="{titleid:12, id:1024}"> Do It! </f:link.action>
</div>

