<div id="dbis-detail">
<f:if condition="{error}">
	<f:then>
		<h1>Fehler</h1>
		<p>
			Es ist ein Fehler bei der Anfrage der Datenbank aufgetreten.
		</p>
		<p>
			M&ouml;glicherweise ist die angefragte Datenbank nicht vorhanden. Bitte versuchen Sie es erneut
			oder wenden Sie sich an das Web-Team der Bibliothek, das Ihnen beim Auffinden des Datensatzes
			gerne behilflich ist.
		</p>
	</f:then>
	<f:else>
		<h3>Datenbank</h3>
		<h1><f:escape value="{db.title}" type="raw" /></h1>

		<f:if condition="{db.access_workaround}">
		<p>
		<a class="dbis-research" href="http://rzblx10.uni-regensburg.de/dbinfo/{db.access.href}" target="_blank">Recherche starten</a>
		</p>
		</f:if>

		<table class="dbis-result-details">
		<tbody>

		<f:if condition="<f:count subject='{db.else_titles}' /> > 0">
		<tr>
			<th>
				<strong>Weitere Titel:</strong>
			</th>

			<td>
				<ul>
					<f:for each="{db.else_titles}" as="title">
						<li><f:escape value="{title}" type="raw" /></li>
					</f:for>
				<ul>
			</td>
		</tr>
		</f:if>

		<f:if condition="<f:count subject='{db.access_lic}' /> > 0">
		<tr>
			<th>
				<strong>Weitere lizenzierte Zug&auml;nge:</strong>
			</th>

			<td>
				<ul>
				<f:for each="{db.access_lic}" as="a_lic">
					<li><a href="http://rzblx10.uni-regensburg.de/dbinfo/{a_lic.href}" target="_blank">{a_lic.name}</a></li>
				</f:for>
				</ul>
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.db_access_short_text}">
		<tr>
			<th>
				<strong>Verf&uuml;gbarkeit:</strong>
			</th>

			<td>
			<f:escape value="{db.db_access_short_text}" type="raw" />
			
			{namespace libconnect=Tx_Libconnect_ViewHelpers}
			<f:if condition="{libconnect:compare(a: db.access_id, b: 'access_0')}">
				<f:then><img src="typo3conf/ext/libconnect/Resources/Public/Img/dbis-list_1.png" alt="" /></f:then>
			</f:if>
			<f:if condition="{libconnect:compare(a: db.access_id, b: 'access_1')}">
				<f:then><img src="typo3conf/ext/libconnect/Resources/Public/Img/dbis-list_2.png" alt="" /></f:then>
			</f:if>
			<f:if condition="{libconnect:compare(a: db.access_id, b: 'access_2')}">
				<f:then><img src="typo3conf/ext/libconnect/Resources/Public/Img/dbis-list_3.png" alt="" /></f:then>
			</f:if>
			<f:if condition="{libconnect:compare(a: db.access_id, b: 'access_7')}">
				<f:then><img src="typo3conf/ext/libconnect/Resources/Public/Img/dbis-list_5.png" alt="" /></f:then>
			</f:if>
			<f:if condition="{libconnect:compare(a: db.access_id, b: 'access_5')}">
				<f:then><img src="typo3conf/ext/libconnect/Resources/Public/Img/dbis-list_1.png" alt="" /></f:then>
			</f:if>
			<f:if condition="{libconnect:compare(a: db.access_id, b: 'access_4')}">
				<f:then><img src="typo3conf/ext/libconnect/Resources/Public/Img/dbis-list_6.png" alt="" /></f:then>
			</f:if>
			<f:if condition="{libconnect:compare(a: db.access_id, b: 'access_6')}">
				<f:then><img src="typo3conf/ext/libconnect/Resources/Public/Img/dbis-list_7.png" alt="" /></f:then>
			</f:if>
			<f:if condition="{libconnect:compare(a: db.access_id, b: 'access_500')}">
				<f:then><img src="typo3conf/ext/libconnect/Resources/Public/Img/dbis-list_germany.png" alt="" /></f:then>
			</f:if>
			<f:if condition="{libconnect:compare(a: db.access_id, b: 'access_300')}">
				<f:then><img src="typo3conf/ext/libconnect/Resources/Public/Img/ezb-list_euro.png" alt="" /></f:then>
			</f:if>
			
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.hints}">
		<tr>
			<th>
				<strong>Hinweise:</strong>
			</th>

			<td>
				<f:escape value="{db.hints}" type="raw" />
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.content}">
		<tr>
			<th>
				<strong>Inhalte:</strong>
			</th>

			<td>
				<f:escape value="{db.content}" type="raw" />
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.subjects}">
		<tr>
			<th>
				<strong>Fachgebiete:</strong>
			</th>

			<td>
				<ul>
					<f:for each="{db.subjects}" as="subject">
						<li><f:escape value="{subject}" type="raw" /></li>
					</f:for>
				</ul>
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.keywords_join}">
		<tr>
			<th>
				<strong>Schlagw&ouml;rter:</strong>
			</th>

			<td>
				<f:escape value="{db.keywords_join}" type="raw" />
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.appearence}">
		<tr>
			<th>
				<strong>Erscheinungsform:</strong>
			</th>

			<td>
				<f:escape value="{db.appearence}" type="raw" />
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.db_type_infos_join}">
		<tr>
			<th>
				<strong>Datenbank-Typ:</strong>
			</th>

			<td>
				<f:escape value="{db.db_type_infos_join}" type="raw" />
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.publisher}">
		<tr>
			<th>
				<strong>Verlag:</strong>
			</th>

			<td>
				<f:escape value="{db.publisher}" type="raw" />
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.report_periods}">
		<tr>
			<th>
				<strong>Berichtszeitraum:</strong>
			</th>

			<td>
				<f:escape value="{db.report_periods}" type="raw" />
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.update}">
		<tr>
			<th>
				<strong>Erscheinungsweise:</strong>
			</th>

			<td>
				<f:escape value="{db.update}" type="raw" />
			</td>
		</tr>
		</f:if>

		<f:if condition="{db.license}">
		<tr>
			<th>
				<strong>Lizenz:</strong>
			</th>

			<td>
				<f:escape value="{db.license}" type="raw" />
			</td>
		</tr>
		</f:if>


		<f:if condition="{db.remarks}">
		<tr>
			<th>
				<strong>Weitere Bemerkungen:</strong>
			</th>

			<td>
				<f:escape value="{db.remarks}" type="raw" />
			</td>
		</tr>
		</f:if>

		</tbody>
		</table>

	</f:else>
</f:if>
</div>
